* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

div {
    overflow: hidden;
}

html {
    overflow-x: hidden;
}

#homepage h1 {
    font-size: 50px;
}

#fname {
    font-size: 50px;
}

#gmail {
    font-size: 17px;
}

#prglng {
    font-size: 40px;
}

html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
}

.navbar {
    background: #073763;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    background-color: #ffa500;
}

.collapse ul li ul {
    background: #0b5394;
}

#myPic {
    border-radius: 70px 0px 70px 0px;
    max-height: 600px;
}

div button {
    font-size: 25px;
    border-radius: 5px;
}

div h1 {
    font-size: 60px;
}

div h3{
    font-size: 40px;
}

#homeContent {
    border-radius: 0px 70px 70px 0px;
}

@media screen and (max-width: 767px) {
    #homeContent {
        background-color: white;
    }
}

@media screen and (min-width: 768px) {
    #homeContent {
        background: #073763;
        color: #fff;
    }
}

#aboutMe {
    background-image: url();
}

#aboutMe a {
    text-decoration: none;
    color: black;
}

#myPic2 {
    border-radius: 70px;
    max-height: 700px;
}

#prog h1 {
    font-size: 50px;
}

#prog img {
    border-radius: 20px;
}

.progcon {
    background: #073763;
    border-radius: 40px;
}

.progtext {
    border-radius: 20px;
    background: white;
}

.econbg {
    background: #073763;
    height: 100%;
    color: white;
}

#edu {
    font-size: 55px;
}

.econbg, #econ1 img, #econ2 img, #econ3 img {
    border-radius: 20px;
}

.carousel-inner img{
    aspect-ratio: 16/9;
}

.fa-chevron-left, .fa-chevron-right {
    color: #073763;
}

.carousel-inner {
    border: 3px solid #073763;
    border-radius: 20px;
}

#prjtxt {
    background-color: #073763;
    color: #fff;
    border-radius: 20px;
    text-decoration: underline;
}

#footer {
    background-color: #073763;
    color: #fff;
}

#footer a {
    color: #fff;
}
